@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html{
  font-size:62.5%;
  box-sizing: border-box;
}

body , #root {
  height: 100vh;
  margin:0;
  font-family:Poppins;
}

body , input , select , textarea{
  font-size: 1.6rem;
}

a{
  text-decoration: none;
}
a:hover{
  color:#ff8000;
}
ul{
  list-style:none;
}

.spinner-display {
  margin-top: 300px;
  margin-left: 45%;
}